@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: white;
}

#calculator-container {
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 18, 18);
}

#screen-container {
    border: solid 2px black;
    margin: 20px 20px 10px;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 40px;
    flex-wrap: wrap;
    padding-right: 5px;
    background-color: rgb(60, 60, 60);
}

#button-container {
    margin: 0px 20px;
    height: 445px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#button-container > * {
    border: solid 2px black;
    flex: 1 1 calc(25% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
}

#button-container > *:hover {
    background-color: rgb(80, 80, 80);
}

#button-container > .misc-buttons {
    background-color: rgb(185, 59, 59);
}

#button-container > .misc-buttons:hover {
    background-color: rgb(220, 80, 80);
}

#button-container > .op-buttons, #button-container > #per-button {
    background-color: rgb(47, 91, 121);
}

#button-container > .op-buttons:hover, #button-container > #per-button:hover {
    background-color: rgb(67, 111, 141);
}

#eq-button {
    flex: 2 2 calc(50% - 15px);
    background-color: rgb(19, 171, 141);
}

#eq-button:hover {
    background-color: rgb(25, 200, 165);
}

#button-container button:active,
#button-container > .misc-buttons:active,
#button-container > .op-buttons:active,
#button-container > #per-button:active,
#button-container button.active,
#button-container > .misc-buttons.active,
#button-container > .op-buttons.active,
#button-container > #per-button.active
{
    transform: scale(0.9);
}

button:disabled {
    opacity: 0.6;
    pointer-events: none;
}